* {
  box-sizing: border-box;
}

:root {
  --background-el: hsl(0, 0%, 100%);
  --body: hsl(0, 0%, 98%);
}

body {
  background-color: var(--body);
  color: hsl(200, 15%, 8%);
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
}

body.dark {
  color: hsl(0, 0%, 100%);
  --body: hsl(207, 26%, 17%);
  --background-el: hsl(209, 23%, 22%);
}

header {
  background-color: var(--background-el);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
}

img {
  max-width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  max-width: 1440px;
  padding: 25px;
  position: relative;
}

h1 {
  margin: 0;
}

/* Theme button styling */
.btn-toggle {
  background-color: var(--background-el);
  border: none;
  color: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  width: 120px;
}

.btn-toggle .fas {
  display: none;
}

body.dark .btn-toggle .fas {
  display: inline-block;
}

body.dark .btn-toggle .far {
  display: none;
}

/* Input styling */
.search {
  background-color: var(--background-el);
  border-radius: 4px;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  color: inherit;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  padding: 20px;
  min-width: 300px;
}
.search:focus {
  outline: none;
  border: none;
}
.search::placeholder {
  color: inherit;
}

/* Dropdown styling */
.dropdown {
  border-radius: 4px;
  background-color: var(--background-el);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-size: 14px;
  padding: 20px;
  position: relative;
}

.dropdown .fa-chevron-down {
  margin-left: 10px;
}

.dropdown ul {
  border-radius: 4px;
  background-color: var(--background-el);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  display: none;
  padding: 20px;
  position: absolute;
  top: 100%;
  left: 0;
  list-style-type: none;
  width: 100%;
  z-index: 99;
}

.dropdown.open ul {
  display: block;
}

.dropdown ul li {
  margin: 10px 0;
}

/* Card styling */
.card {
  border-radius: 4px;
  background-color: var(--background-el);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  overflow: hidden;
  margin: 2rem 1.4rem;
  max-width: 100%;
  width: 280px;
  align-self: flex-start;
}

.card img {
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.card-body {
  padding: 30px;
}

.card-body h3 {
  margin-top: 0;
}

.container.countries {
  margin-top: -40px;
  justify-content: space-evenly;
}
i.loading {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: 2rem 0;
}
/* Modal Styling */
.modal {
  background-color: var(--body);
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  overflow: scroll;
  width: 100vw;
  padding: 5rem 0;
}

.modal .container {
  justify-self: center;
  align-self: center;
  background-color: var(--background-el);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  display: grid;
  grid-template-rows: max-content max-content;
  grid-template-columns: 1fr;
  grid-template-areas: 'detail' 'covid';
  width: 60vw;
}
.detail {
  grid-area: detail;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'img' 'body';
}
.detail img {
  max-width: 500px;
  height: 200px;
  justify-self: flex-start;
  align-self: flex-start;
  grid-area: img;
}

.modal-body {
  padding: 2rem;
  grid-area: body;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: max-content 1fr;
  grid-template-areas: 'name name' 'dl dr';
}
.detail .name {
  grid-area: name;
}
.detail-right {
  grid-area: dr;
}
.detail-left {
  grid-area: dl;
}

.covid-detail {
  grid-area: covid;
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'title title' 'left right';
  padding: 0 2rem;
}
.covid-detail h1 {
  grid-area: title;
}
.covid-left {
  grid-area: left;
}
.covid-right {
  grid-area: right;
}
.btn-close {
  background-color: var(--background-el);
  color: inherit;
  border: none;
  cursor: pointer;
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 700px) {
  .btn-toggle {
    margin: 0.5rem 0;
  }
  .search {
    margin: 0 0 1rem 0;
  }
  .card {
    width: 280px;
    margin: 2rem 1rem;
  }
}

@media (max-width: 1000px) {
  .modal .container {
    width: 60vw;
  }
  .detail img {
    width: 100%;
    height: 100%;
    justify-self: flex-start;
    align-self: flex-start;
    grid-area: img;
  }

  .modal-body {
    grid-template-columns: 1fr;
    grid-auto-rows: repeat(3, max-content);
    grid-template-areas: 'name' 'dl' 'dr';
  }

  .covid-detail {
    grid-template-columns: 1fr;
    grid-auto-rows: repeat(3, max-content);
    grid-template-areas: 'title' 'left' 'right';
  }
}

@media (max-width: 600px) {
  .modal .container {
    width: 80vw;
    padding: 1rem;
  }
  .detail img {
    width: 100%;
    height: 100%;
  }
}
